.mainSheet {
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px; /* Радиус скругления */
    box-shadow: 0 0 0 3px #8c8786, 0 0 13px #333; /* Параметры теней */

}

.gameHeader {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 90px;
}

.inviteBox{
    text-align: center;
    padding-top:150px;
}
.inviteBox p{
    margin-bottom: 5px;
}

.inviteBox input{
    text-align: center;
    width:300px;
    margin:auto;
    margin-bottom:5px;
}


.centerText{

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 170px;
}

.gestureBlock {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.remakeButton{
    margin-left: auto;
    margin-right: auto;
}

.remakeMenu{
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsBlock {
    transition-duration: 3s;
    display: inline-block;
    margin-left: 5px;
}

.pic {
    margin-right: 5px;
    border-radius: 20px; /* Радиус скругления */
    transition-duration: 0.13s;
}

.unknownPic{
    margin-right: 5px;
    border-radius: 20px; /* Радиус скругления */
}

.highlightPic {
    margin-right: 5px;
    border-radius: 20px; /* Радиус скругления */
    transition-duration: 0.13s;
    box-shadow: 0 0 0 3px #00cc00, 0 0 13px #333; /* Параметры теней */
}

.chosen {
    margin-right: 5px;
}

.blur {
    margin-right: 5px;
    transition-duration: 0.07s;
    opacity: 0.2;
}

.pic:hover {
    box-shadow: 0 0 0 3px #055e0a, 0 0 13px #333; /* Параметры теней */
}

.chosenGesture {
    box-shadow: 0 0 0 3px #00cd00, 0 0 13px #333; /* Параметры теней */
}

.leftSheet {
    width: 50%;
    height: 100px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    box-shadow: inset -1px 0 0 black;
}

.rightSheet {
    width: 50%;
    background-color: lightblue;
    display: block;
    float: right;
    text-align: center;
}

.firstPlayerGist {
    width: 200px;
    display: block;
}

.secondPlayerGist {
    width: 200px;
    display: block;
}

.score {
    margin-top: 10px;
    margin-bottom: 20px;
}

.opponentGestureBlock {
    display: inline-block;
    margin-left: 8px;
}

.scoreBoard {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.scoreHeader {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

.myScore {
    padding-top:3px;
    padding-bottom:3px;
    width: 50%;
    font-size: 13pt;
    display: inline-block;
    text-align: center;
}

.opponentScore {
    padding-top:3px;
    padding-bottom:3px;
    width: 50%;
    float: right;
    text-align: center;
}

.chat {
    width: 55%;
    background-color: #00B7FF;
    float: right;
    margin-top: 20px;
}
